$primary-color: #4caf50;
$secondary-color: #f44336;
$background-color: #f9f9f9;
$text-color: #333;
$card-shadow: rgba(0, 0, 0, 0.1);
$main-padding: 24px 40px;
$background-color: #F5F7FA;
$border-color: #E6EFF5;
$white: #ffffff;
$menu-text-color: #b1b1b1;
$menu-hover-bg: #f9f9f9;
$menu-active-text-color: #232323;
$navbar-bg-color: #FFFFFF;
$navbar-title-color: #343C6A;
