@import '../../styles/variables';

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: $white;
  border-right: 1px solid $border-color;
}

.sidebar.open {
  display: block;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .closeButton {
    display: none;
  }
}

.logo {
  margin-right: 10px;
}

.brand {
  font-size: 25px;
  font-weight: 800;
  color: #343c6a;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .header .closeButton {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}
