@import '../../styles/variables';

.menu {
  list-style: none;
  margin-top: 10px;

  .menuItem {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 44px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $menu-text-color;
    transition: all 0.3s ease;

    &:hover {
      background: $menu-hover-bg;
    }

    &.active {
      color: $menu-active-text-color;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 60px;
        width: 6px;
        background: $menu-active-text-color;
        border-radius: 0px 10px 10px 0px;
      }
    }

    .iconContainer {
      position: relative;
      width: 25px;
      height: 25px;
      margin-right: 26px;

      .icon {
        width: 100%;
        height: auto;
        filter: grayscale(100%);
        opacity: 0.4;
      }
    }

    .label {
      line-height: 22px;
      color: inherit;
      font-weight: 500;
    }

    &.active {
      .icon {
        filter: none;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 576px) {
  .menu .menuItem {
    font-size: 14px;

    .iconContainer {
      width: 20px;
      height: 20px;
    }
  }
}
