@import '../styles/variables';

.tabLayout {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 25px;
  padding: 30px;

  .tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    overflow: auto;

    .tabButton {
      min-width: 70px;
      padding: 10px 20px;
      border: none;
      background: none;
      font-size: 16px;
      cursor: pointer;
      color: #718EBF;
      transition: color 0.3s ease;

      &.activeTab {
        //border-bottom: 2px solid #232323;
        border-bottom: 3px solid #232323;
        border-top-left-radius: 15px;
        font-weight: 500;
        color: #232323;
      }
    }
  }
}

@media (max-width: 576px) {
  .tabLayout {
    .tabs {
      .tabButton {
        padding: 10px 13px;
        font-size: 13px;
      }
    }
  }
}
