.transactionList {
  min-width: 250px;
  padding: 1rem;
  height: 235px;
  background: #ffffff;
  border-radius: 25px;
}

.transactionItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.iconContainer {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.icon {
  width: 28px;
  height: 28px;
}

.transactionDetails {
  flex-grow: 1;
  margin-left: 1rem;

  .title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #232323;
  }

  .date {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #718ebf;
  }
}

.amountContainer {
  margin-left: auto;

  .amount {
    font-weight: 500;
    font-size: 16px;
  }
}

.positive {
  color: #41d4a8;
}

.negative {
  color: #ff4b4a;
}

.iconBackgroundCard {
  background: #fff5d9;
}

.iconBackgroundPaypal {
  background: #e7edff;
}

.iconBackgroundUser {
  background: #dcfaf8;
}

@media (max-width: 576px) {
  .transactionList {
    background: transparent;
  }
}